@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #262526;
  color: white;
}

/* changing styling on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 30px 30px #d2abde;
}

.searchSlideIn {
  animation: searchSlideIn 0.5s ease-in-out 0s;
}

@keyframes searchSlideIn {
  from {
    transform: translateX(-60vw);
  }

  to {
    transform: translateX(0);
  }
}

.lightGreyScrollbar::-webkit-scrollbar {
  width: 10px;
}
.lightGreyScrollbar::-webkit-scrollbar-track {
  background: #141414;
}
.lightGreyScrollbar::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 5px;
}

.darkGreyScrollbar::-webkit-scrollbar {
  width: 10px;
}
.darkGreyScrollbar::-webkit-scrollbar-track {
  background: #252525;
}
.darkGreyScrollbar::-webkit-scrollbar-thumb {
  background: #141414;
  border-radius: 5px;
}

/* @keyframes duration | easing-function | delay |
iteration-count | direction | fill-mode | play-state | name */
/* .textSlide {
  animation: textSlide 10s ease-in-out 0s;
  animation-iteration-count: infinite;
}
@keyframes textSlide {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
} */

/* fix to make the stars horizontal */
svg.star-svg {
  display: inline;
}

.lightGreyScrollbarForSidebar::-webkit-scrollbar {
  width: 10px;
}
.lightGreyScrollbarForSidebar::-webkit-scrollbar-track {
  background: #141414;
}
.lightGreyScrollbarForSidebar::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 5px;
}
.lightGreyScrollbarForSidebar::-webkit-scrollbar-corner {
  background: #141414; /* fixes the white box at the bottom */
}

/* scrollbar styling for comments section on song page */
.commentSectionScrollbar::-webkit-scrollbar {
  width: 10px;
}
.commentSectionScrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.commentSectionScrollbar::-webkit-scrollbar-thumb {
  background: #9d9d9d37;
  border-radius: 10px;
}
.commentSectionScrollbar::-webkit-scrollbar-corner {
  background: #141414; /* fixes the white box at the bottom */
}

.pencilEditAnimation {
  animation: pencilEditAnimation;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes pencilEditAnimation {
  0% {
  }
  25% {
    rotate: -10deg;
  }
  50% {
    rotate: 0deg;
  }
  75% {
    rotate: -10deg;
  }
  100% {
  }
}
