@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #262526;
  color: white;
}

/* changing styling on autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-background-clip: text;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 30px 30px #d2abde;
}

.searchSlideIn {
  animation: searchSlideIn 0.5s ease-in-out 0s;
}

@keyframes searchSlideIn {
  from {
    transform: translateX(-60vw);
  }

  to {
    transform: translateX(0);
  }
}

.lightGreyScrollbar::-webkit-scrollbar {
  width: 10px;
}
.lightGreyScrollbar::-webkit-scrollbar-track {
  background: #141414;
}
.lightGreyScrollbar::-webkit-scrollbar-thumb {
  background: #252525;
  border-radius: 5px;
}

.darkGreyScrollbar::-webkit-scrollbar {
  width: 10px;
}
.darkGreyScrollbar::-webkit-scrollbar-track {
  background: #252525;
}
.darkGreyScrollbar::-webkit-scrollbar-thumb {
  background: #141414;
  border-radius: 5px;
}
