$bgGrey: #262526;
$boxDarkGrey: #141414;
$boxLightGrey: #222222;
$lightGrey: #d9d9d9;
$purple: #a220c9;

:export {
  bgGrey: $bgGrey;
  boxDarkGrey: $boxDarkGrey;
  lightGrey: $lightGrey;
  purple: $purple;
  boxLightGrey: $boxLightGrey;
}
